src/configuration/schemas/triggersfile.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Triggers" type="TriggersType">
    </xs:element>

    <xs:complexType name="TriggersType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element type="eventType" name="trigger"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="eventType">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <!--<xs:attribute type="xs:string" name="class" use="required" /> -->
        <xs:attribute type="xs:string" name="path" use="required"/>
    </xs:complexType>

</xs:schema>